<<<<<<< HEAD
html {

  height: 100vh;
=======
* {
  box-sizing: border-box;
>>>>>>> 0c60c4bd8bdceeb2a2f4831a52b3238e22ccc11d
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:rgb(7, 0, 0); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* chiều cao = 100% chiều cao thiết bị */
<<<<<<< HEAD
body {
  height: 100vh;
}
=======
html,
body {
  height: 100vh;
}
>>>>>>> 0c60c4bd8bdceeb2a2f4831a52b3238e22ccc11d
